<template name="hello">


   {{#if getIn}}


    <div class="blackTop">
        <div class="tagline">

            <span class="firstLine">YOU DON'T GO TO HARVARD FOR THE MATERIAL.
        <br>
        YOU GO FOR THE</span> <span class="firstLine" style="color:#33CCFF;"><strong>PEOPLE.</strong></span>
        </div>
        <div class="logo"></div>
    </div>
    <div class="whiteBottom">

        <div class="container">
            <div class="red hackvard">HACKVARD</div>


             <div class="text">
                <p>Stop staring at your code. Learn through in-person study groups.</p>
                <!-- <p>Join now for early access.</p> -->
            </div>

            <div class="form" style="margin-top:35px">

                <form id="register-form" action="action">
                    <div>
                        <input type="text" id="account-name" class="input" placeholder="name" />
                        <input type="email" id="account-email" class="input" placeholder="email" />
                        <input type="text" id="account-occupation" class="input" placeholder="occupation" />
                        <div>
                        <input type="submit" id="create-account" class="signup" value="JOIN NOW FOR EARLY ACCESS" /></div>
                    </div>
                </form>
            </div>

        </div>
    </div>

{{else}}



<div class="thankYou animated fadeInDown">

        <h1 class="congratulation">Congratulations. You've been waitlisted by Hackvard!</h1>

        <h4>We'll be in touch. In the meantime, say hi to us on Twitter!</h4>

        <a class="twitter-timeline" href="https://twitter.com/hackvard" data-widget-id="517769433998061568">Tweets by @hackvard</a>


<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
         {{/if}}

</template>



